@model IEnumerable<GroceryManagement.web.Models.Item>
@{
}
<h1>Food Categories</h1>
<div class="row">
    @foreach (var item in Model)
    {


        <div class="card col-3" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemId)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.ItemName)</p>
                <a class="btn btn-primary" asp-action="BookOrder" asp-route-id="@item.ItemId">Go somewhere</a>
            </div>
        </div>
    }

</div>
