@model IEnumerable<GroceryManagement.web.Models.Order>
<body style="background-image:url(https://media.assets.sincrod.com/websites/content/nissan-hill-fl/dd6ab10ed8fd4a6784e28e368f41f374_c21x0-1557x875.jpg ); background-size:cover">

   
@{
    ViewData["Title"] = "Index2";
}

<h1> Successfully Ordered !!!</h1>
<br />
<br />

<p>
            Hello  Customer <br />

        Thank you for your order.<br /> We appreciate your business and will be thrilled to send you Item
        as soon as possible.<br /> An email with tracking information will be sent to you once your order has shipped.<br /> 

    Thanks again, and we look forward to seeing you soon.

</p>

   
</body>
